html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 20px; 
  /* Google fonts 输出的 CSS */
  font-family: 'Open Sans', sans-serif; 
}
/*整个结构称为规则集。大括号外的头部称为选择器（html）即对html元素进行处理，括号内为申明（font-size:20px)：其包含属性(font-size)和属性的值（20px)*/

h1 {
  font-size: 60px;
  text-align: center;
  /*文字居中*/
  margin: 0;
  /*覆盖掉系统给元素设定的默认样式*/

  text-shadow: 3px 3px 1px black;
  /*为元素内的文本设置阴影*/
  /*水平偏移值，垂直偏移值，阴影的模糊半径，阴影的基色*/
}
/*每个规则集中要用分号将各个申明隔开*/

h2{
  text-align:center;
  margin:0;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
     /*字号、行间距、字间距*/

html {
  background-color: #00539F;
}

body {
  /* 强制页面永远保持700像素宽 */
  width: 700px;
  /*元素的宽度*/

  margin: 0 auto;
  /*先上下后左右，auto表示对称*/
  /*外边距围绕元素外部空间*/
  background-color: rgb(0, 0, 0);
  /*元素内容和内边距底部颜色*/
  padding: 0 20px 20px 20px;
  /*内边距，围绕着内容（比如段落）的空间*/
  border: 5px solid black;
  /*边框，紧接着内边距的线*/
}

img {
  display: block;
  /*设置元素的显示模式*/
  /*给内联元素以块级行为，以此来成功设置外边距*/
  
  margin: 0 auto;
  width:300px
  /*同时元素高也随之改变（通过css限制图片大小，防止图片溢出body）*/
}
/*以上全是元素选择器*/

h1:hover{
  color:red;
  /*元素内容（通常是文本）的颜色*/
}
/*鼠标指针悬停*/
/*伪类选择器*/

#second-id{
  display:block;
}
#my-id{
  color:rgb(0, 64, 255);
  font-size:20px;
}
#em-id{
  display:block;
}
/*ID选择器*/